<html>
    <head>
        <title>Universal-Home</title>
    </head>
    <body>
        <h1>Student Record</h1>
        <form method="post" action="/submit">
            <label> First Name : </label>
            <input name="fname" type="text" placeholder="e.g Universal" >

            <br><br>

            <label>Last Name : </label>
            <input type="text" name="lname" placeholder="e.g Informatics">

            <br><br>
            <input type="submit" value="submit data">
        </form>
    </body>
</html>